.LogoTitle {
  font-family: Jura;
  font-style: normal;
  font-weight: bold;

  line-height: 170px;
  color: #ffffff;
  text-shadow: 8px 10px 4px rgba(0, 0, 0, 0.55);
  position: relative;
}

.LogoImgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.LogoTitle {
  text-align: center;
  font-size: 120px;
  line-height: 120px;
}

.LogoImg {
  display: block;
  max-width: 600px;
}
