.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  margin-top: 30px;
  &_Animation {
    justify-content: left;
  }
}
/*как сделать такой шрифт у всех кто открывает сайт?  */

.Content {
  font-family: Jura;
  font-style: normal;
  font-size: 36px;
  color: #ffffff;
  &_Hide {
    position: absolute;
    left: -3000px;
    transition: all 2s;
  }
}

.ReservationButton {
  background-color: #ff6000;
  color: black;
  font-family: Jura;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  position: relative;
  border: none;
  margin-left: 30px;
  padding: 0 45px;
}

.ReservationButton::before {
  display: block;
  content: "";
  width: 20px;
  height: 100%;
  background: linear-gradient(to top left, #ff6000 50%, rgba(255, 0, 0, 0) 52%);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.Logo {
  font-family: Jura;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  display: none;
  &_Wiew {
    display: block;
  }
}
