.App {
  width: 100%;
  height: max-content;
  height: 100vh;
  background: url("../static/background.png") no-repeat;
  background-size: 100% 100%;
  padding: 120px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
