.Wrapper {
  width: 100%;
  height: max-content;
  max-height: 1080px;
  background: url("../../../static/background.png") no-repeat;
  background-size: 100% 100%;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
